In [66]:
#load the libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import altair as alt

In [67]:
root_path = 'dataset/'

customers_df = pd.read_csv(root_path + 'olist_customers_dataset.csv')
items_df = pd.read_csv(root_path + 'olist_order_items_dataset.csv')
payments_df = pd.read_csv(root_path + 'olist_order_payments_dataset.csv')
orders_df = pd.read_csv(root_path + 'olist_orders_dataset.csv')
products_df = pd.read_csv(root_path + 'olist_products_dataset.csv')
sellers_df = pd.read_csv(root_path + 'olist_sellers_dataset.csv')
categories_df = pd.read_csv(root_path + 'product_category_name_translation.csv')

Merging the 6 datasets to make a single dataframe

In [68]:
dataframes = {'customers': customers_df,
              'items': items_df, 
              'payments': payments_df, 
              'orders': orders_df, 
              'products': products_df, 
              'sellers': sellers_df, 
              'categories': categories_df}
for i, j in dataframes.items():
    print(f'{i:12s} dataframe: {str(len(j)):7s} rows')

customers    dataframe: 99441   rows
items        dataframe: 112650  rows
payments     dataframe: 103886  rows
orders       dataframe: 99441   rows
products     dataframe: 32951   rows
sellers      dataframe: 3095    rows
categories   dataframe: 71      rows

In [69]:
#product_df contains 73 unique categories in portuquese language, while categories_df english translation to the portuguese categories has 71
#the missing categories translation will be maintained in original portuguese language.

#products_df = pd.merge(products_df, categories_df, on='product_category_name', how='left')
# Delete 'product_category_name' column
#del products_df['product_category_name']
# Delete  the categories_df dataframe
#del categories_df
# Rename the column
#products_df.rename(columns={'product_category_name_english': 'product_category'}, inplace=True)

In [70]:
# Merge and clean up the products DataFrame
products_df = pd.merge(products_df, categories_df, on='product_category_name', how='left')
products_df.drop('product_category_name', axis=1, inplace=True)
products_df.rename(columns={'product_category_name_english': 'product_category'}, inplace=True)

In [71]:
# Update the 'products' key in the dataframes dictionary with the merged DataFrame
dataframes['products'] = products_df

In [72]:
for name, df in dataframes.items():
    print(f'\n{name} dataframe:')
    print(df.head(5))
    print('-' * 40)

customers dataframe:
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP
----------------------------------------

items dataframe:
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14
----------------------------------------

payments dataframe:
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45
----------------------------------------

orders dataframe:
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00
----------------------------------------

products dataframe:
                         product_id  product_name_lenght  \
0  1e9e8ef04dbcff4541ed26657ea517e5                 40.0
1  3aa071139cb16b67ca9e5dea641aaa2f                 44.0
2  96bd76ec8810374ed1b65e291975717f                 46.0
3  cef67bcfe19066a932b7673e239eb23d                 27.0
4  9dc1a7de274444849c219cff195d0b71                 37.0

   product_description_lenght  product_photos_qty  product_weight_g  \
0                       287.0                 1.0             225.0
1                       276.0                 1.0            1000.0
2                       250.0                 1.0             154.0
3                       261.0                 1.0             371.0
4                       402.0                 4.0             625.0

   product_length_cm  product_height_cm  product_width_cm product_category
0               16.0               10.0              14.0        perfumery
1               30.0               18.0              20.0              art
2               18.0                9.0              15.0   sports_leisure
3               26.0                4.0              26.0             baby
4               20.0               17.0              13.0       housewares
----------------------------------------

sellers dataframe:
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP
----------------------------------------

categories dataframe:
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor
----------------------------------------

In [73]:
# Merge DataFrames 
# (assuming you've already merged products_df and categories_df within the 'products' key)
orders_customers_df = pd.merge(dataframes['orders'], dataframes['customers'], on='customer_id')
orders_customers_items_df = pd.merge(orders_customers_df, dataframes['items'], on='order_id')
main_df = pd.merge(orders_customers_items_df, dataframes['payments'], on='order_id')
main_df = pd.merge(main_df, dataframes['products'], on='product_id')
main_df = pd.merge(main_df, dataframes['sellers'], on='seller_id')

In [74]:
# 2. Display the Data
print("Shape of the merged DataFrame:", main_df.shape)
print("\nMerged DataFrame - First 5 rows:")
print(main_df.head().to_markdown(index=False, numalign="left", stralign="left"))
print("\nMerged DataFrame - Column Info:")
print(main_df.info())

Shape of the merged DataFrame: (117601, 33)

Merged DataFrame - First 5 rows:
| order_id                         | customer_id                      | order_status   | order_purchase_timestamp   | order_approved_at   | order_delivered_carrier_date   | order_delivered_customer_date   | order_estimated_delivery_date   | customer_unique_id               | customer_zip_code_prefix   | customer_city   | customer_state   | order_item_id   | product_id                       | seller_id                        | shipping_limit_date   | price   | freight_value   | payment_sequential   | payment_type   | payment_installments   | payment_value   | product_name_lenght   | product_description_lenght   | product_photos_qty   | product_weight_g   | product_length_cm   | product_height_cm   | product_width_cm   | product_category   | seller_zip_code_prefix   | seller_city    | seller_state   |
|:---------------------------------|:---------------------------------|:---------------|:---------------------------|:--------------------|:-------------------------------|:--------------------------------|:--------------------------------|:---------------------------------|:---------------------------|:----------------|:-----------------|:----------------|:---------------------------------|:---------------------------------|:----------------------|:--------|:----------------|:---------------------|:---------------|:-----------------------|:----------------|:----------------------|:-----------------------------|:---------------------|:-------------------|:--------------------|:--------------------|:-------------------|:-------------------|:-------------------------|:---------------|:---------------|
| e481f51cbdc54678b7cc49136f2d6af7 | 9ef432eb6251297304e76186b10a928d | delivered      | 2017-10-02 10:56:33        | 2017-10-02 11:07:15 | 2017-10-04 19:55:00            | 2017-10-10 21:25:13             | 2017-10-18 00:00:00             | 7c396fd4830fd04220f754e42b4e5bff | 3149                       | sao paulo       | SP               | 1               | 87285b34884572647811a353c7ac498a | 3504c0cb71d7fa48d967e0e4c94d59d9 | 2017-10-06 11:07:15   | 29.99   | 8.72            | 1                    | credit_card    | 1                      | 18.12           | 40                    | 268                          | 4                    | 500                | 19                  | 8                   | 13                 | housewares         | 9350                     | maua           | SP             |
| e481f51cbdc54678b7cc49136f2d6af7 | 9ef432eb6251297304e76186b10a928d | delivered      | 2017-10-02 10:56:33        | 2017-10-02 11:07:15 | 2017-10-04 19:55:00            | 2017-10-10 21:25:13             | 2017-10-18 00:00:00             | 7c396fd4830fd04220f754e42b4e5bff | 3149                       | sao paulo       | SP               | 1               | 87285b34884572647811a353c7ac498a | 3504c0cb71d7fa48d967e0e4c94d59d9 | 2017-10-06 11:07:15   | 29.99   | 8.72            | 3                    | voucher        | 1                      | 2               | 40                    | 268                          | 4                    | 500                | 19                  | 8                   | 13                 | housewares         | 9350                     | maua           | SP             |
| e481f51cbdc54678b7cc49136f2d6af7 | 9ef432eb6251297304e76186b10a928d | delivered      | 2017-10-02 10:56:33        | 2017-10-02 11:07:15 | 2017-10-04 19:55:00            | 2017-10-10 21:25:13             | 2017-10-18 00:00:00             | 7c396fd4830fd04220f754e42b4e5bff | 3149                       | sao paulo       | SP               | 1               | 87285b34884572647811a353c7ac498a | 3504c0cb71d7fa48d967e0e4c94d59d9 | 2017-10-06 11:07:15   | 29.99   | 8.72            | 2                    | voucher        | 1                      | 18.59           | 40                    | 268                          | 4                    | 500                | 19                  | 8                   | 13                 | housewares         | 9350                     | maua           | SP             |
| 53cdb2fc8bc7dce0b6741e2150273451 | b0830fb4747a6c6d20dea0b8c802d7ef | delivered      | 2018-07-24 20:41:37        | 2018-07-26 03:24:27 | 2018-07-26 14:31:00            | 2018-08-07 15:27:45             | 2018-08-13 00:00:00             | af07308b275d755c9edb36a90c618231 | 47813                      | barreiras       | BA               | 1               | 595fac2a385ac33a80bd5114aec74eb8 | 289cdb325fb7e7f891c38608bf9e0962 | 2018-07-30 03:24:27   | 118.7   | 22.76           | 1                    | boleto         | 1                      | 141.46          | 29                    | 178                          | 1                    | 400                | 19                  | 13                  | 19                 | perfumery          | 31570                    | belo horizonte | SP             |
| 47770eb9100c2d0c44946d9cf07ec65d | 41ce2a54c0b03bf3443c3d931a367089 | delivered      | 2018-08-08 08:38:49        | 2018-08-08 08:55:23 | 2018-08-08 13:50:00            | 2018-08-17 18:06:29             | 2018-09-04 00:00:00             | 3a653a41f6f9fc3d2a113cf8398680e8 | 75265                      | vianopolis      | GO               | 1               | aa4383b373c6aca5d8797843e5594415 | 4869f7a5dfa277a7dca6462dcf3b52b2 | 2018-08-13 08:55:23   | 159.9   | 19.22           | 1                    | credit_card    | 3                      | 179.12          | 46                    | 232                          | 1                    | 420                | 24                  | 19                  | 21                 | auto               | 14840                    | guariba        | SP             |

Merged DataFrame - Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117601 entries, 0 to 117600
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       117601 non-null  object
 1   customer_id                    117601 non-null  object
 2   order_status                   117601 non-null  object
 3   order_purchase_timestamp       117601 non-null  object
 4   order_approved_at              117586 non-null  object
 5   order_delivered_carrier_date   116356 non-null  object
 6   order_delivered_customer_date  115034 non-null  object
 7   order_estimated_delivery_date  117601 non-null  object
 8   customer_unique_id             117601 non-null  object
 9   customer_zip_code_prefix       117601 non-null  int64
 10  customer_city                  117601 non-null  object
 11  customer_state                 117601 non-null  object
 12  order_item_id                  117601 non-null  int64
 13  product_id                     117601 non-null  object
 14  seller_id                      117601 non-null  object
 15  shipping_limit_date            117601 non-null  object
 16  price                          117601 non-null  float64
 17  freight_value                  117601 non-null  float64
 18  payment_sequential             117601 non-null  int64
 19  payment_type                   117601 non-null  object
 20  payment_installments           117601 non-null  int64
 21  payment_value                  117601 non-null  float64
 22  product_name_lenght            115903 non-null  float64
 23  product_description_lenght     115903 non-null  float64
 24  product_photos_qty             115903 non-null  float64
 25  product_weight_g               117581 non-null  float64
 26  product_length_cm              117581 non-null  float64
 27  product_height_cm              117581 non-null  float64
 28  product_width_cm               117581 non-null  float64
 29  product_category               115878 non-null  object
 30  seller_zip_code_prefix         117601 non-null  int64
 31  seller_city                    117601 non-null  object
 32  seller_state                   117601 non-null  object
dtypes: float64(10), int64(5), object(18)
memory usage: 29.6+ MB
None

In [75]:
# 3. Basic EDA
print("\nDescriptive statistics of numerical columns:")
print(main_df.describe().to_markdown(numalign="left", stralign="left"))

print("\nNumber of unique values and most frequent values for categorical columns:")
for col in main_df.select_dtypes(include='object'):
    print(f"\nColumn: {col}")
    print(main_df[col].value_counts().head(5).to_markdown(numalign="left", stralign="left"))

Descriptive statistics of numerical columns:
|       | customer_zip_code_prefix   | order_item_id   | price   | freight_value   | payment_sequential   | payment_installments   | payment_value   | product_name_lenght   | product_description_lenght   | product_photos_qty   | product_weight_g   | product_length_cm   | product_height_cm   | product_width_cm   | seller_zip_code_prefix   |
|:------|:---------------------------|:----------------|:--------|:----------------|:---------------------|:-----------------------|:----------------|:----------------------|:-----------------------------|:---------------------|:-------------------|:--------------------|:--------------------|:-------------------|:-------------------------|
| count | 117601                     | 117601          | 117601  | 117601          | 117601               | 117601                 | 117601          | 115903                | 115903                       | 115903               | 117581             | 117581              | 117581              | 117581             | 117601                   |
| mean  | 35051.8                    | 1.1959          | 120.825 | 20.046          | 1.09353              | 2.93948                | 172.687         | 48.7676               | 786.951                      | 2.20788              | 2114.31            | 30.2572             | 16.6303             | 23.0686            | 24441.4                  |
| std   | 29820.6                    | 0.697706        | 184.479 | 15.8613         | 0.726692             | 2.77422                | 267.592         | 10.035                | 653.036                      | 1.71953              | 3788.8             | 16.1909             | 13.459              | 11.7485            | 27572.6                  |
| min   | 1003                       | 1               | 0.85    | 0               | 1                    | 0                      | 0               | 5                     | 4                            | 1                    | 0                  | 7                   | 2                   | 6                  | 1001                     |
| 25%   | 11310                      | 1               | 39.9    | 13.08           | 1                    | 1                      | 60.87           | 42                    | 347                          | 1                    | 300                | 18                  | 8                   | 15                 | 6429                     |
| 50%   | 24315                      | 1               | 74.9    | 16.29           | 1                    | 2                      | 108.21          | 52                    | 601                          | 1                    | 700                | 25                  | 13                  | 20                 | 13660                    |
| 75%   | 58600                      | 1               | 134.9   | 21.19           | 1                    | 4                      | 189.26          | 57                    | 985                          | 3                    | 1800               | 38                  | 20                  | 30                 | 28035                    |
| max   | 99990                      | 21              | 6735    | 409.68          | 29                   | 24                     | 13664.1         | 76                    | 3992                         | 20                   | 40425              | 105                 | 105                 | 118                | 99730                    |

Number of unique values and most frequent values for categorical columns:

Column: order_id
| order_id                         | count   |
|:---------------------------------|:--------|
| 895ab968e7bb0d5659d16cd74cd1650c | 63      |
| fedcd9f7ccdc8cba3a18defedd1a5547 | 38      |
| fa65dad1b0e818e3ccc5cb0e39231352 | 29      |
| ccf804e764ed5650cd8759557269dc13 | 26      |
| a3725dfe487d359b5be08cac48b64ec5 | 24      |

Column: customer_id
| customer_id                      | count   |
|:---------------------------------|:--------|
| 270c23a11d024a44c896d1894b261a83 | 63      |
| 13aa59158da63ba0e93ec6ac2c07aacb | 38      |
| 9af2372a1e49340278e7c1ef8d749f34 | 29      |
| 92cd3ec6e2d643d4ebd0e3d6238f69e2 | 26      |
| d22f25a9fadfb1abbc2e29395b1239f4 | 24      |

Column: order_status
| order_status   | count   |
|:---------------|:--------|
| delivered      | 115035  |
| shipped        | 1244    |
| canceled       | 566     |
| processing     | 375     |
| invoiced       | 371     |

Column: order_purchase_timestamp
| order_purchase_timestamp   | count   |
|:---------------------------|:--------|
| 2017-08-08 20:26:31        | 63      |
| 2017-09-23 14:56:45        | 38      |
| 2017-04-20 12:45:34        | 29      |
| 2017-06-07 12:05:10        | 26      |
| 2017-07-07 14:55:43        | 24      |

Column: order_approved_at
| order_approved_at   | count   |
|:--------------------|:--------|
| 2017-08-08 20:43:31 | 63      |
| 2017-09-25 17:44:41 | 38      |
| 2017-04-22 09:10:13 | 29      |
| 2017-06-09 16:15:08 | 26      |
| 2018-02-21 12:28:15 | 24      |

Column: order_delivered_carrier_date
| order_delivered_carrier_date   | count   |
|:-------------------------------|:--------|
| 2017-08-10 11:58:14            | 63      |
| 2018-05-09 15:48:00            | 48      |
| 2017-10-02 23:47:54            | 38      |
| 2018-05-10 18:29:00            | 36      |
| 2018-05-14 14:25:00            | 32      |

Column: order_delivered_customer_date
| order_delivered_customer_date   | count   |
|:--------------------------------|:--------|
| 2017-08-14 12:46:18             | 63      |
| 2017-10-18 22:35:50             | 38      |
| 2017-06-22 16:04:46             | 26      |
| 2017-03-21 13:32:45             | 24      |
| 2017-07-27 20:52:15             | 24      |

Column: order_estimated_delivery_date
| order_estimated_delivery_date   | count   |
|:--------------------------------|:--------|
| 2017-12-20 00:00:00             | 649     |
| 2018-03-12 00:00:00             | 611     |
| 2018-05-29 00:00:00             | 609     |
| 2018-03-13 00:00:00             | 607     |
| 2018-07-16 00:00:00             | 590     |

Column: customer_unique_id
| customer_unique_id               | count   |
|:---------------------------------|:--------|
| 9a736b248f67d166d2fbb006bcb877c3 | 75      |
| 6fbc7cdadbb522125f4b27ae9dee4060 | 38      |
| f9ae226291893fda10af7965268fb7f6 | 35      |
| 8af7ac63b2efbcbd88e5b11505e8098a | 29      |
| 569aa12b73b5f7edeaa6f2a01603e381 | 26      |

Column: customer_city
| customer_city   | count   |
|:----------------|:--------|
| sao paulo       | 18590   |
| rio de janeiro  | 8202    |
| belo horizonte  | 3247    |
| brasilia        | 2457    |
| curitiba        | 1809    |

Column: customer_state
| customer_state   | count   |
|:-----------------|:--------|
| SP               | 49566   |
| RJ               | 15327   |
| MG               | 13638   |
| RS               | 6486    |
| PR               | 5962    |

Column: product_id
| product_id                       | count   |
|:---------------------------------|:--------|
| aca2eb7d00ea1a7b8ebd4e68314663af | 536     |
| 99a4788cb24856965c36a24e339b6058 | 525     |
| 422879e10f46682990de24d770e7f83d | 505     |
| 389d119b48cf3043d311335e499d9c6b | 406     |
| 368c6c730842d78016ad823897a372db | 395     |

Column: seller_id
| seller_id                        | count   |
|:---------------------------------|:--------|
| 4a3ca9315b744ce9f8e9374361493884 | 2133    |
| 6560211a19b47992c3666cc44a7e94c0 | 2122    |
| 1f50f920176fa81dab994f9023523100 | 2008    |
| cc419e0650a3c5ba77189a1882b7556a | 1847    |
| da8622b14eb17ae2831f4ac5b9dab84a | 1639    |

Column: shipping_limit_date
| shipping_limit_date   | count   |
|:----------------------|:--------|
| 2017-08-14 20:43:31   | 63      |
| 2017-10-05 17:44:41   | 38      |
| 2017-04-27 09:10:13   | 29      |
| 2017-06-15 16:15:08   | 26      |
| 2018-02-27 12:28:15   | 24      |

Column: payment_type
| payment_type   | count   |
|:---------------|:--------|
| credit_card    | 86769   |
| boleto         | 22867   |
| voucher        | 6274    |
| debit_card     | 1691    |

Column: product_category
| product_category      | count   |
|:----------------------|:--------|
| bed_bath_table        | 11823   |
| health_beauty         | 9972    |
| sports_leisure        | 8945    |
| furniture_decor       | 8744    |
| computers_accessories | 8082    |

Column: seller_city
| seller_city           | count   |
|:----------------------|:--------|
| sao paulo             | 29157   |
| ibitinga              | 8242    |
| curitiba              | 3134    |
| santo andre           | 3095    |
| sao jose do rio preto | 2682    |

Column: seller_state
| seller_state   | count   |
|:---------------|:--------|
| SP             | 83854   |
| MG             | 9260    |
| PR             | 9014    |
| RJ             | 5017    |
| SC             | 4257    |

In [77]:
# 1. Count of orders per category
product_category_counts = main_df['product_category'].value_counts().sort_values(ascending=False)

In [78]:
# 2. Distribution of order statuses
order_status_counts = main_df['order_status'].value_counts()

In [79]:
# 3. Count of orders per customer
orders_per_customer = main_df.groupby('customer_unique_id')['order_id'].nunique()

# 4. Count of each payment type
payment_type_counts = main_df['payment_type'].value_counts().sort_values(ascending=False)

# 5. Count of each installment option
installments_counts = main_df['payment_installments'].value_counts().sort_values(ascending=False)

# 6. Calculate order value
main_df['order_value'] = main_df['price'] + main_df['freight_value']

# 7. Average order value per category
avg_order_value_per_category = main_df.groupby('product_category')['order_value'].mean().sort_values(ascending=False)

# 8. Overall average order value
overall_avg_order_value = main_df['order_value'].mean()

# Display the outputs
print("\nTop 10 Product Categories by Order Count:")
print(product_category_counts.head(10).to_markdown(numalign="left", stralign="left"))

print("\nOrder Status Counts:")
print(order_status_counts.to_markdown(numalign="left", stralign="left"))

print("\nOrders per Customer Statistics:")
print(orders_per_customer.describe().to_markdown(numalign="left", stralign="left"))

print("\nPayment Type Counts:")
print(payment_type_counts.to_markdown(numalign="left", stralign="left"))

print("\nInstallment Counts:")
print(installments_counts.to_markdown(numalign="left", stralign="left"))

print("\nAverage Order Value per Category:")
print(avg_order_value_per_category.head(10).to_markdown(numalign="left", stralign="left"))

print("\nOverall Average Order Value:", overall_avg_order_value)

Top 10 Product Categories by Order Count:
| product_category      | count   |
|:----------------------|:--------|
| bed_bath_table        | 11823   |
| health_beauty         | 9972    |
| sports_leisure        | 8945    |
| furniture_decor       | 8744    |
| computers_accessories | 8082    |
| housewares            | 7355    |
| watches_gifts         | 6201    |
| telephony             | 4721    |
| garden_tools          | 4574    |
| auto                  | 4379    |

Order Status Counts:
| order_status   | count   |
|:---------------|:--------|
| delivered      | 115035  |
| shipped        | 1244    |
| canceled       | 566     |
| processing     | 375     |
| invoiced       | 371     |
| unavailable    | 7       |
| approved       | 3       |

Orders per Customer Statistics:
|       | order_id   |
|:------|:-----------|
| count | 95419      |
| mean  | 1.03402    |
| std   | 0.211235   |
| min   | 1          |
| 25%   | 1          |
| 50%   | 1          |
| 75%   | 1          |
| max   | 16         |

Payment Type Counts:
| payment_type   | count   |
|:---------------|:--------|
| credit_card    | 86769   |
| boleto         | 22867   |
| voucher        | 6274    |
| debit_card     | 1691    |

Installment Counts:
| payment_installments   | count   |
|:-----------------------|:--------|
| 1                      | 58617   |
| 2                      | 13722   |
| 3                      | 11756   |
| 4                      | 7979    |
| 10                     | 6845    |
| 5                      | 6017    |
| 8                      | 5063    |
| 6                      | 4617    |
| 7                      | 1828    |
| 9                      | 726     |
| 12                     | 163     |
| 15                     | 92      |
| 18                     | 38      |
| 24                     | 34      |
| 11                     | 25      |
| 20                     | 21      |
| 13                     | 18      |
| 14                     | 16      |
| 17                     | 7       |
| 16                     | 7       |
| 21                     | 5       |
| 0                      | 3       |
| 23                     | 1       |
| 22                     | 1       |

Average Order Value per Category:
| product_category                      | order_value   |
|:--------------------------------------|:--------------|
| computers                             | 1151.7        |
| small_appliances_home_oven_and_coffee | 664.492       |
| home_appliances_2                     | 506.129       |
| agro_industry_and_commerce            | 360.352       |
| musical_instruments                   | 321.091       |
| small_appliances                      | 310.498       |
| fixed_telephony                       | 245.26        |
| construction_tools_safety             | 230.986       |
| furniture_bedroom                     | 219.439       |
| watches_gifts                         | 218.913       |

Overall Average Order Value: 140.87077363287727